.encompass {
    background: var(--background-theme);
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 770px) {
    .nodes {
        margin: auto;
        width: 40%;
        height: 20vh;
        min-height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .div_title {
        margin: 20px auto;
        padding: 0px 20px;
        border: 2px solid var(--theme-color);
        box-shadow: -5px 5px 5px black;
    }
    .div_title_text {
        color: var(--theme-color);
        font-size: 48px;
    }
    .product_case {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .product_section {
        width: 80%;
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid var(--theme-color);
        border-bottom: none;
        box-shadow: -5px 5px 5px black;
    }
    .product {
        width: 100%;
        height: 300px;
        border-bottom: 2px solid var(--theme-color);
    }
}