/* Styles for all product landing pages */
.encompass {
    background: var(--background-theme);
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 770px) {
    .div_title {
        margin: 50px auto;
        width: 80%;
        max-width: 1500px;
        padding: 0px 20px;
        border: 2px solid var(--theme-color);
        box-shadow: -5px 5px 5px black;
    }
    .div_title_text {
        text-align: center;
        color: var(--theme-color);
        font-size: 48px;
    }
    .div_info {
        margin: auto;
        padding: 40px 0px;
        width: 100%;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .details {
        width: 40%;
        border: 2px solid var(--theme-color);
        box-shadow: -5px 5px 5px black;
        position: relative;
        background: var(--background-theme);
        z-index: 2;
    }
    .nodes {
        width: 10%;
        position: relative;
        z-index: 1;
    }
    .h2 {
        text-align: center;
        padding: 5px;
        color: var(--theme-color);
    }
    .p {
        margin: auto;
        padding: 20px;
        color: var(--theme-color);
        font-size: 24px;
    }
    .link {
        color: var(--blue-color);
    }
    .link:hover {
        color: var(--bright-blue-color);
    }
}

@media screen and (max-width: 769px) {
    .div_title {
        margin: 25px auto;
        width: 90%;
        max-width: 400px;
        border: 2px solid var(--theme-color);
        text-align: center;
        box-shadow: -5px 5px 5px black;
    }
    .div_title_text {
        color: var(--theme-color);
        font-size: 32px;
    }
    .div_info {
        margin: auto;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .details {
        margin: auto;
        width: 90%;
        min-height: 300px;
        border: 2px solid var(--theme-color);
        box-shadow: -5px 5px 5px black;
        position: relative;
        background: var(--background-theme);
        z-index: 2;
    }
    .nodes {
        margin: auto;
        width: 20%;
        position: relative;
        z-index: 1;
        transform: rotate(90deg);
    }
    .h2 {
        margin: auto;
        text-align: center;
        padding: 5px;
        color: var(--theme-color);
    }
    .p {
        margin: auto;
        padding: 10px;
        color: var(--theme-color);
        font-size: 18px;
    }
    .link {
        color: var(--blue-color);
    }
    .link:hover {
        color: var(--bright-blue-color);
    }
}