.full_env {
    background: #272727;
    overflow: hidden;
}

@media screen and (min-width:770px){
/* No shows */
.dropdown {
    display: none;
}
.title {
    display: none;
}

.title_text {
    display: none;
}
/* Primary level divs */
.d_encompass {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background: var(--background-theme);
}

.d_top {
    height: 10vh;
    min-height: 110px;
}

.d_objects {
    display: flex;
    flex-direction: row;
    height: 80vh;
    min-height: 640px;
}

.d_bottom {
    height: 10vh;
    min-height: 80px;
}

/* Secondary level divs */

.logo {
    height: 110px;
    width: 110px;
    min-height: 110px;
    min-width: 110px;
}

.logo_img {
    width: 100%;
    height: 100%;
    background-image: url('../public/images/logo/spirge-512.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.d_sidenodes {
    margin: auto 0;
    width: 20vw;
    min-width: 100px;
}

.d_mainsign {
    margin: auto 0;
    width: 40vw;
    height: 50%;
    min-height: 320px;
}

.d_midnodes {
    margin: auto 0;
    width: 15vw;
    height: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d_mainlist {
    margin: auto 0;
    width: 20vw;
    height: 100%;
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_nodes {
    height: 60%;
    width: 92%;
    min-height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -10px;
}

.node {
    margin: 5px auto;
    padding: 0;
    height: .75vh;
    min-height: 5px;
    background: var(--theme-color);
    box-shadow: var(--box-shadow-1);
}

.link_node {
    margin: 0px auto;
    height: .75vh;
    min-height: 5px;
    background: var(--theme-color);
    z-index: 0;
    box-shadow: -5px 5px 5px black;
}

.link_node:nth-child(1) {
    padding: 1px 70%;
    transform-origin: left;
    transform: rotate(-30deg)
}
.link_node:nth-child(2) {
    padding: 1px 90%;
    transform-origin: left;
    transform: rotate(-15deg)
}
.link_node:nth-child(3) {
    padding: 1px 90%;
    transform-origin: left;
    transform: rotate(0deg)
}
.link_node:nth-child(4) {
    padding: 1px 90%;
    transform-origin: left;
    transform: rotate(15deg)
}
.link_node:nth-child(5) {
    padding: 1px 70%;
    transform-origin: left;
    transform: rotate(30deg)
}

.link_node:hover {
    background:rgb(0, 174, 255);
}

.link_node:active {
    background:rgb(135, 217, 255);
}

/* Logo sign */
.sign {
    border: 4px solid var(--theme-color);
    height: 25%;
    width: 100%;
    min-height: 50px;
    min-width: 200px;
    position: relative;
    top: 37%;
    box-shadow: var(--box-shadow-1);
    background: var(--background-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

.sign:hover {
    transition: 2s ease-in;
}

.sign:active {
    transform: scale(1.1);
}

.h_sign {
    margin: auto;
    font-size: 3vw;
    color: var(--theme-color)
}

@media screen and (min-width: 1600px) {
.signsub {
    height: 15%;
    position: relative;
    top: 32%;
    text-align: center;
}

.h_signsub {
    font-size: 1.5vw;
    color: var(--theme-color);
}
}

@media screen and (max-width: 1599px) and (min-width: 770px) {
.signsub {
    height: 15%;
    position: relative;
    top: 35%;
    text-align: center;
}
.h_signsub {
    font-size: 1.5vw;
    color: var(--theme-color);
}
}

/* Add rotated nodes here */

.d_list {
    height: 70%;
    width: 18vw;
    min-height: 275px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-color);
    box-shadow: var(--box-shadow-1);
    z-index: 999;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    width: 100%;
    height: 100%;
    min-height: 275px;
    min-width: 200px;
}

.li_buttons {
    list-style: none;
    margin: 10px auto;
    padding: 0;
    width: 90%;
    height: 20%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:rgb(0, 174, 255);
    box-shadow: -5px 5px 10px black;
    border-radius: 15px 0px;
    transition: transform .3s ease-in-out 0ms;
}

.link_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(2.5vw);
    height: 100%;
    min-height: 40px;
    background-color: var(--background-theme);
    text-decoration: none;
    color: var(--theme-color);
    border-radius: 15px 0px;
    z-index: 999;
    transition: transform .2s ease-in-out 0ms;
    box-shadow: -5px 5px 10px black;
}

.li_buttons:hover, .link_buttons:hover {
    color: rgb(0, 174, 255);
    transform: rotate(5deg);
}

.link_buttons:active {
    color:rgb(135, 217, 255);
    transition: transform 2s ease-in;
    transform: scale(3);
    z-index: 1000;
}
}

@media screen and (max-width: 769px) {
/* Primary level divs */
.full_env {
    display: flex;
    justify-content: center;
    max-width: 770px;
    min-width: 320px;
}

.d_encompass {
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-height: 1200px;
    max-width: 720px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background: var(--background-theme);
}

.d_top {
    margin: 0 auto;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 6px solid var(--theme-color);
    box-shadow: -0px 0px 20px black;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 5px;
}

.d_objects {
    margin: 0 auto;
    height: 85vh;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d_bottom {
    height: 5vh;
    width: 100%;
    min-width: 320px;
}

.d_mainlist {
    display: none;
}

.logo {
    width: 10vh;
    height: 10vh;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
    max-height: 80px;
}

.logo_img {
    width: 100%;
    height: 100%;
    background-image: url('../public/images/logo/spirge-512.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    border-left: 5px solid var(--theme-color);
}

.title_text {
    font-size: calc(10vw*10vh);
    color: var(--theme-color);
}

.dropdown {
    width: 14vh;
    height: 10vh;
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    position: relative;
    z-index: 999;
}

.d_sidenodes {
    height: 40%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.l_nodes {
    margin: auto 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.r_nodes {
    margin: auto 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.d_midnodes {
    display: none;
}

.node {
    margin: auto 5px;
    height: 100%;
    width: 4px;
    background: var(--theme-color);
    box-shadow: -3px 3px 5px black;
}

.d_mainsign {
    margin: 0 auto;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -3px 3px 5px black;
    background: var(--background-theme);
}

.sign {
    height: 70%;
    padding: 5px;
    border: 1px solid var(--theme-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.h_sign {
    color: var(--theme-color);
    font-size: 38px;
}

.signsub {
    height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--theme-color);
}

.h_signsub {
    color: var(--theme-color);
    font-size: 20px;
}


}