.list {
    color: red;
}
/* Mobile dropdown */

.dropdown_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown_button {
    width: 100%;
    height: 100%;
    background: var(--background-theme);
    padding: 0;
    border: none;
    font-size: 60px;
    text-align: center;
    color: var(--theme-color);
}

.dropdown_content {
    display: none;
    width: 200px;
    height: 70vh;
    max-height: 418px;
    overflow: scroll;
    background: var(--background-theme);
    position: absolute;
    top: 80px;
    right: 0px;
    box-shadow: 0px 0px 15px black;
    text-align: center;
    z-index: 999;
}

.dropdown_option {
    background: var(--background-theme);
    color: var(--theme-color);
    margin: 10px 5px;
    padding: 18px 0px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkd {
    color: var(--theme-color);
    text-decoration: none;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 15px 0px;
}

@keyframes spandown {
    0% {transform: scaleY(0)};
    100% {transform: scaleY(1)};
}

.dropdown_main:hover .dropdown_content {
    display: block;
    transform-origin: top;
    animation-name: spandown;
    animation-duration: .5s;
}

.dropdown_button:hover {
    background: #171717;
}

.dropdown_option:hover .linkd {
    background: var(--theme-color);
    color: var(--background-theme);
    box-shadow: -5px 5px black;
}

/* Fin mobile dropdown */

/* Nodes styles */
.nodecase_h {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nodecase_v {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.node_v {
    margin: auto 4px;
    height: 100%;
    width: 6px;
    background: var(--theme-color);
    box-shadow: -3px 3px 5px black;
}

.node_h {
    margin: 4px auto;
    height: 6px;
    width: 100%;
    background: var(--theme-color);
    box-shadow: -3px 3px 5px black;
}

/* Product design styles*/
@media screen and (min-width: 770px) {
    .product_case {
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: var(--background-theme);
    }
    .product_info {
        margin: auto;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product_name {
        margin: auto;
        padding: 5px;
        color: var(--theme-color);
        font-size: 32px;
        text-align: center;
    }
    .product_description {
        margin: auto 20px;
        padding: 10px;
        color: var(--theme-color);
        font-size: 24px;
    }
    .product_image {
        margin: auto;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .product_link {
        margin: auto;
    }
    .image {
        margin: auto;
        padding: 5px;
        transition: 0.2s ease-in-out 0ms;
        border-radius: 100px;
        filter: blur(5px);
    }
    .image:hover {
        box-shadow: 0px 0px 20px black;
        transform: scale(1.2);
        filter: none;
    }
    .image:active {
        transform: scale(1.4);
        box-shadow: 0px 0px 20px var(--bright-blue-color);
    }
}